.Footer_ProductView {
	background-color: rgb(245, 245, 245);
	width: 100% !important;
	margin: 0px 0px 0px 0px !important;
	padding: 0px;
	max-width: 100% !important;
}

.Company_Information {
	text-align: center !important;
	margin-top: 30px !important;
}

.Policy {
	display: inline !important;
	font-family: sans-serif !important;
}

.Policy_Divider {
	display: inline !important;
	padding: 0px 10px 0px 10px;
}

.Container_Policy {
	text-align: center;
	padding-top: 20px !important;
}

.About_Company {
	margin: 10px;
	padding: 5px;
	font-size: 13px !important;
	font-family: sans-serif;
}