#viewdetail_book_image {
	display: inline-block;
}


#Container_Detai_And_Comment_ViewProduct {
	width: 80%;
	margin-bottom: 100px;
}

#Container_Detai_ViewProduct {
	background-color: beige !important;
	padding: 15px;
	padding-right: 0px;
}

#viewdetail_book_image {
	display: inline-block !important;
	width: 25% !important;
}

#viewdetail_book_description {
	display: inline-block !important;
	background-color: beige !important;
	width: 70% !important;
	padding-left: 15px;
}

#viewdetail_title_book {
	font-weight: bold;
	font-family: sans-serif;
	font-size: 20px;
	margin-bottom: 10px;
}

#viewdetail_book_rating {
	left: -3px;
}

#viewdetail_text {
	display: block;
	font-family: sans-serif !important;
	font-size: 15px;
	margin-top: 5px !important;
}

#viewdetail_button_add_to_cart {
	margin: 15px 0px 10px 10px;
}

#viewdetail_button_buy {
	margin: 15px 0px 10px 0px;
}

#viewdetail_container_comment_text_area {
	margin-top: 10px;
}

.Container_Comment_ViewProduct {
	padding: 10px;
	margin-top: 20px;
}

#viewdetail_wrapper_send_comment {
	margin-left: 10px;
	position: relative;
	top: 7px;
}

#Send_Icon_ViewDetail {
	color: blue;
	top: 5px;
	height: 30px;
}

#viewdetail_title_comment_area {
	margin-bottom: 10px;
}

#viewdetail_wrapper_comment {
	padding: 10px;
	margin-bottom: 40px;
}

#viewdetail_comment_name, #viewdetail_comment_date, #viewdetail_comment_time {
	display: inline-block;
	margin-right: 7px;
	color: blue;
}

#viewdetail_comment_name {
	font-weight: bold;
	font-size: 15px;
}


#viewdetail_comment_date, #viewdetail_comment_time {
	font-size: 13px;
	color: black;
}

#viewdetail_comment_text{
	margin-left: 10px;
}

#viewdetail_input_comment {
	width: 500px;
}


.Container_Suggest_Product_ProductView {
	text-align: center;
	margin-top: 100px;
}


.Container_Image_ProductView {
	margin-top: 0px !important;
	padding-bottom: 0px;
}

.Label_Divider_ProductView {
	display: inline-block;
	width: 200px !important;
	border: black solid 1px !important;
	margin-right: 20px !important;
	margin-left: 20px !important;
}

.Label_ProductView {
	display: inline;
	color: blue;
	font-weight: bold !important;
	font-family: sans-serif !important;
	font-size: 30px !important;
}

.Container_Single_Image_ProductView {
	width: 100%;
	height: 430px;
}

.Footer_ProductView {
	background-color: rgb(245, 245, 245);
	width: 100% !important;
	margin: 0px !important;
	padding: 0px;
	max-width: 100% !important;
}

.Company_Information {
	text-align: center !important;
	margin-top: 30px !important;
}

.Policy {
	display: inline !important;
	font-family: sans-serif !important;
}

.Policy_Divider {
	display: inline !important;
	padding: 0px 10px 0px 10px;
}

.Container_Policy {
	text-align: center;
	padding-top: 20px !important;
}

.About_Company {
	margin: 10px;
	padding: 5px;
	font-size: 13px !important;
	font-family: sans-serif;
}